/* src/Auth.css */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6;
}

.auth-card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.auth-header h2 { margin: 0; color: #111827; }
.auth-header p { color: #6b7280; margin-top: 5px; }

.auth-tabs {
  display: flex;
  margin: 20px 0;
  border-bottom: 2px solid #e5e7eb;
}

.auth-tabs button {
  flex: 1;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: #6b7280;
}

.auth-tabs button.active {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
  margin-bottom: -2px;
}

.input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-sizing: border-box; /* Fixes padding width issues */
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #111827;
  margin-bottom: 20px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.2s;
}

.submit-btn:hover { background-color: #000; }
.signup {
    width: 34%;
    background-color: green;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 123px;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.2s;
}  